<nav class="relative" aria-label="Primary navigation">
	<div class="hidden lg:flex items-center gap-4">
		<a href="/blog/vi" class="text-zinc-300 hover:text-zinc-100 transition-colors">Blog</a>
		<a href="/about" class="text-zinc-300 hover:text-zinc-100 transition-colors">About</a>
		<a href="/contact" class="text-zinc-300 hover:text-zinc-100 transition-colors">Contact</a>
	</div>

	<input id="home-nav-toggle" type="checkbox" class="peer sr-only lg:hidden" />
	<label
		for="home-nav-toggle"
		class="lg:hidden w-6 sm:w-8 h-fit text-white cursor-pointer hover:outline-2 focus-visible:outline-2 outline-offset-1 outline-zinc-100/20 focus-visible:outline-white rounded-lg inline-flex items-center justify-center"
		aria-label="Toggle menu"
	>
		<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" aria-hidden="true">
			<title>Menu Icon</title>
			<path fill="currentColor" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10" opacity=".5" />
			<path fill="currentColor" d="M13.024 14.56c.493-.197.739-.296.932-.465c.05-.043.096-.09.139-.139c.17-.193.268-.44.465-.932c.924-2.31 1.386-3.465.938-4.124a1.5 1.5 0 0 0-.398-.398c-.66-.448-1.814.014-4.124.938c-.493.197-.74.295-.933.465c-.049.043-.095.09-.138.139c-.17.193-.268.44-.465.932c-.924 2.31-1.386 3.464-.938 4.124a1.5 1.5 0 0 0 .398.398c.66.448 1.814-.014 4.124-.938" />
		</svg>
	</label>

	<div class="peer-checked:flex hidden fixed inset-0 z-50 lg:hidden bg-zinc-900/20 backdrop-blur-md">
		<nav class="fixed bottom-20 sm:bottom-32 left-4 sm:left-8 flex flex-col items-start justify-center gap-4" aria-label="Mobile navigation">
			<a href="/blog/vi" class="w-fit text-lg sm:text-2xl text-zinc-100">Blog</a>
			<a href="/about" class="w-fit text-lg sm:text-2xl text-zinc-100">About</a>
			<a href="/contact" class="w-fit text-lg sm:text-2xl text-zinc-100">Contact</a>
			<label for="home-nav-toggle" class="w-fit text-lg sm:text-2xl text-zinc-100 cursor-pointer">Close</label>
		</nav>
	</div>
</nav>
